<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>购物车</title>
    <link href="../../css/frozen.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/homall.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/lib/zeptojs/zepto.min.js"></script>
</head>
<body>
<header id="header" class="header">
    <h2 class="ui-flex-pack-center">购物车</h2>
</header>

<!-- footer part -->
<footer id="buy-footer" class="ui-footer" style="height: 48px">
    <div class="ui-row-flex ui-flex-align-center text-center hoTopic-footer" style="height: 100%">
        <div class="ui-col ui-col-1" style="height: 100%">
        </div>
        <div class="ui-col ui-col-1" style="height: 100%">
        </div>
        <div class="ui-col ui-col-2" style="height: 100%;line-height: 48px;">
            <h4>全选</h4>
        </div>
        <div class="ui-col ui-col-2 back-blue" style="height: 100%;line-height: 48px">
            <h4>结算</h4>
        </div>
    </div>
</footer>
<!-- footer part end-->

<ul class="ui-list  ui-border-tb">
    <li class="ui-border-t">
        <div class="ui-list-img">
            <span style="background-image:url(http://placeholder.qiniudn.com/200x136)"></span>
        </div>
        <div class="ui-list-info">
            <h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4>
            <p class="ui-nowrap">这是内容，加ui-nowrap可以超出长度截断</p>
        </div>
    </li>
    <li class="ui-border-t">
        <div class="ui-list-img">
            <span style="background-image:url(http://placeholder.qiniudn.com/200x136)"></span>
        </div>
        <div class="ui-list-info">
            <h4>标题标题标题标题标题标题标题标题标题标题标题</h4>
        </div>
    </li>
</ul>

</body>
<script type="text/javascript" src="../../js/frozen.js"></script>
</html>