<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>ho商城个人中心</title>
    <link href="../../css/frozen.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/homall.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/lib/zeptojs/zepto.min.js"></script>
</head>
<body>
<div id="header" class="header">
    <h2 class="ui-flex-pack-center">个人中心</h2>
</div>

<!-- avatar -->
<div id="avatar-section"
     class="ui-flex ui-flex-ver ui-flex-align-center ui-flex-pack-center padding-vertical-m back-white">
    <div class="ui-avatar-lg">
        <span style="background-image:url(../../img/avatar/avatar.jpg)"></span>
    </div>
    <div class="ui-flex-pack-end">
        <h3 id="username">H&W</h3>
    </div>
</div>
<!-- avatar section -->

<!-- tool bar -->
<div class="ui-row-flex ui-border ui-whitespace padding-vertical-s margin-top-s text-center back-white">
    <div class="ui-col ui-col">
        <i class="ui-icon-dingdan"></i>
        <h5>全部订单</h5>
    </div>
    <div class="ui-col ui-col">
        <i class="ui-icon-daifahuo"></i>
        <h5>待发货</h5>
    </div>
    <div class="ui-col ui-col">
        <i class="ui-icon-daishouhuo1"></i>
        <h5>待收货</h5>
    </div>
    <div class="ui-col ui-col">
        <i class="ui-icon-daipingjia"></i>
        <h5>待评价</h5>
    </div>
</div>
<!-- tool bar end -->

<!-- list -->
<ul class="ui-list ui-list-one ui-list-link ui-border-tb margin-top-s">
    <li>
        <div class="ui-list-icon">
            <span class="ui-icon-coupons"></span>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap">优惠券</h4>
        </div>
    </li>
    <li>
        <div class="ui-list-icon">
            <span class="ui-icon-personal"></span>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap">手机号</h4>
            <div class="ui-txt-info">15112533082</div>
        </div>
    </li>
    <li class="ui-border-t">
        <div class="ui-list-icon">
            <span class="ui-icon-birthday"></span>
        </div>
        <div class="ui-list-info">
            <h4 class="ui-nowrap">生日</h4>
            <div class="ui-txt-info">1994-09-16</div>
        </div>
    </li>
    <li>
        <div class="ui-list-icon">
            <span class="ui-icon-collect"></span>
        </div>
        <div class="ui-list-info ui-border-t">
            <h4 class="ui-nowrap">我的收藏</h4>
        </div>
    </li>
    <li class="ui-border-t">
        <div class="ui-list-icon">
            <span class="ui-icon-express"></span>
        </div>
        <div class="ui-list-info">
            <h4 class="ui-nowrap">地址管理</h4>
            <div class="ui-reddot ui-reddot-static"></div>
        </div>
    </li>
    <li class="ui-border-t">
        <div class="ui-list-icon">
            <span class="ui-icon-safe"></span>
        </div>
        <div class="ui-list-info">
            <h4 class="ui-nowrap">修改密码</h4>
        </div>
    </li>
</ul>
<!-- list part -->

<!-- footer -->
<div class="ui-btn-wrap text-center margin-top-s">
    <button class="ui-btn-lg">
        注销
    </button>
</div>
<!-- footer end-->
</body>
<script type="text/javascript" src="../../js/frozen.js"></script>
<script type="text/javascript" src="../../js/trianglify/trianglify.min.js"></script>
<script type="text/javascript">
    (function () {
        var avatarBackground = Trianglify({
            height: 400,
            width: 640,
            cell_size: 30,
            variance: "0.75",
            seed: null,
            x_colors: 'random'
        });

        $("#avatar-section").css('background', 'url("' + avatarBackground.png() + '")');
    })();
</script>
</html>