/**
   object
   ==========================
**/
.header-fixed {
    position: fixed;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #252525;
    font-size: 16px;
}
.header {
    text-align: center;
    position: relative;
    z-index: 1;
    height: 44px;
    line-height: 44px;
    background: url(../img/header-bg.png) repeat-x #efefef;
    background-size: 100% 44px;
    border-bottom: 1px solid #bfbfbf;
    border-width: 0 0 1px;
    /* -webkit-border-image: url(data:image/gif;base64,R0lGODlhBAAEAIABAL+/v////yH/C1hNUCBEYXRhWE1QPD94cGFja…kYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAEALAAAAAAEAAQAAAIFhBGpeVAAOw==) 2 0 stretch; */
    -o-border-image: url(data:image/gif;base64,R0lGODlhBAAEAIABAL+/v////yH/C1hNUCBEYXRhWE1QPD94cGFja…kYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAEALAAAAAAEAAQAAAIFhBGpeVAAOw==) 2 0 round;
    /* border-image: url(data:image/gif;base64,R0lGODlhBAAEAIABAL+/v////yH/C1hNUCBEYXRhWE1QPD94cGFja…kYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAEALAAAAAAEAAQAAAIFhBGpeVAAOw==) 2 0 round; */
    font-family: PingHei, "Lucida Grande", "Lucida Sans Unicode", STHeiti, Helvetica, Arial, Verdana, sans-serif;
    color: #252525;
    font-size: 16px;
    min-width: 320px;
}

.header-arrow-l {
    position: absolute;
    left: 3px;
    top: -2px;
}
.hoTopic-head {
    position: relative;
    padding-top: 62.5%;
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.hoTopic-head-arrow {
    position: absolute;
    bottom: 0;
    left: 1.5em;
}

.hoTopic-footer {
    color: #e6e6e6 !important;
    background-color: rgba(0, 0, 0, 0.4);
}
.hoTopic-body {

}
.hoTopic-wapper {
    width: 100%;
    margin: 0 0;
    padding-top: 5px;
    overflow: hidden;
    background-color: #ffffff;
}

.hoTopic-scroller {
    display: block;
    white-space: nowrap;
    width: 9999px;
    overflow: auto;
}

.hoTopic-scroller li {
    width: 80px;
    height: 80px;
    line-height: inherit;
    margin: 3px;
    background: #50eeff;
    border: 1px solid #e0e0e0;
    display: inline-block;
}

.list-title {
    font-weight: 700;
    color: #a5a7a9;
    padding-right: 10px;
}

.comment-item-star {
    display: inline-block;
    overflow: hidden;
    width: 75px;
    height: 11px;
    margin-top: 10px;
    background: url('../img/rate/comment-star.png') repeat-x 0 -11px;
    background-size: 15px 22px;
}

.real-star {
    display: inline-block;
    height: 26px;
    background: url('../img/rate/comment-star.png') repeat-x 0 0;
    background-size: 15px 22px;
}

.comment-stars-width1 {
    width: 20%;
}

.comment-stars-width2 {
    width: 40%;
}

.comment-stars-width3 {
    width: 60%;
}

.comment-stars-width4 {
    width: 80%;
}

.comment-stars-width5 {
    width: 100%;
}

.comment-item-img {
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 4px;
}

.num {
    border: 1px solid #cacccd;
    border-radius: 3px;
    width: 30px;
    height: 25px;
    text-align: center;
    color: #18b4ed;
}

input.num-btn {
    width: 30px;
    height: 25px;
    border: 1px solid #cacccd;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #fff), to(#fff));
}

/** === carts **/
.h-toolbar {
    height: 46px;
}

.h-list-center {
    height: 68px;
    line-height: 68px;
    padding: 10px 0px;
}

.h-list-checkbox {
    padding: 10px 5px
}
/**
   util
   ==========================
**/
.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
}

.attr-span {
    height: 30px;
    line-height: 30px;
    padding: 4px;
    text-align: center;
    font-size: 10px;
    color: #a4a6a8;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.attr-span.active {
    color: #18b4ed;
    border: 1px solid #18b4ed;
}

.ui-right-icon {
    position: relative;
}

.ui-right-icon:before {
    font-family: "iconfont" !important;
    font-size: 32px;
    line-height: 44px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    display: block;
    color: rgba(0, 0, 0, 0.5);
    color: #c7c7c7;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -22px;
    margin-right: -10px;
}

@media (max-width: 320px) {
    .ui-right-icon:before {
        right: 10px;
    }
}

.ui-right-icon.active {
    background: #e5e6e7;
}
/**
   color & font
   ===========================
**/

.price {
    font-size: 14px;
    color: #ff525e;
}

.price-fade {
    margin-left: 5px;
    font-size: 14px;
    color: #7d7e7e;
}

.txt-black {
    color: #7d7e7e;
}
.txt-fade {
    font-size: 14px;
    color: #7d7e7e;
}
.txt-m {
    font-size: 14px;
}

.txt-lg {
    font-size: 18px;
}

.txt-xl {
    font-size: 25px;
}

.txt-xxl {
    font-size: 30px;
}

.ho-text-xs {
    font-size: 0.13rem;
}

.ho-text-sm {
    font-size: 0.15rem;
}

.ho-text-lg {
    font-size: 0.2rem;
}

.ho-text-xl {
    font-size: 0.4rem;
}

.ho-text-xxl {
    font-size: 0.6rem;
}

.ho-text-xxxl {
    font-size: 1.0rem;
}
.back-white {
    background-color: white;
}

.back-blue {
    background-color: #18b4ed;
}

.back-grey-soft {
    background-color: #fdfdfe;
}
.back-grey {
    background-color: #f2f3f5;
}

.back-wall {
    background-color: #f8f8f8;
}

.color-blue {
    color: #18b4ed;
}

.color-black {
    color: #7d7e7e;
}

.color-white {
    color: #feffff;
}

.color-red {
    color: #fc4695;
}
/**
   layout
   ============================
**/
.text-center {
    text-align: center;
}

.ho-text-left {
    text-align: left !important;
}

.ho-text-right {
    text-align: right !important;
}

.ho-text-center {
    text-align: center !important;
}

.ho-text-justify {
    text-align: justify !important;
}

/* Border-radius*/
.ho-square {
    border-radius: 0;
}

.ho-radius {
    border-radius: 2px;
}

.ho-round {
    border-radius: 1000px;
}

.ho-circle {
    border-radius: 50%;
}

/* Float blocks*/
.ho-cf:before,
.ho-cf:after {
    content: " ";
    display: table;
}

.ho-cf:after {
    clear: both;
}

.ho-fl {
    float: left;
}

.ho-fr {
    float: right;
}

.ho-nbfc {
    overflow: hidden;
}

.ho-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Display */
.ho-block {
    display: block !important;
}

.ho-inline {
    display: inline !important;
}

.ho-inline-block {
    display: inline-block !important;
}

.ho-hide {
    display: none !important;
    visibility: hidden !important;
}

.ho-vertical-align {
    font-size: 0.001px;
}

.ho-vertical-align:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ho-vertical-align-middle,
.ho-vertical-align-bottom {
    display: inline-block;
    font-size: 1.6rem;
    /* 1 */
    max-width: 100%;
}

.ho-vertical-align-middle {
    vertical-align: middle;
}

.ho-vertical-align-bottom {
    vertical-align: bottom;
}

.ho-responsive-width {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

/** 
   old margin helper
    ===========================
**/
.margin-fix {
    margin: 0 !important;
}

.margin-left-fix {
    margin-left: 0 !important;
}
.margin-vertical-s {
    margin: 10px 0;
}

.margin-vertical-m {
    margin: 20px 0;
}

.margin-vertical-l {
    margin: 30px 0;
}

.margin-vertical-xl {
    margin: 40px 0;
}

.margin-top-xs {
    margin-top: 5px;
}

.margin-top-s {
    margin-top: 10px;
}

.margin-top-m {
    margin-top: 20px;
}

.margin-top-l {
    margin-top: 30px;
}

.margin-top-xl {
    margin-top: 40px;
}

.margin-right-xs {
    margin-right: 5px;
}

.margin-right-s {
    margin-right: 10px;
}

.margin-right-m {
    margin-right: 20px;
}

.margin-right-l {
    margin-right: 30px;
}

.margin-right-xl {
    margin-right: 40px;
}

.padding-fix {
    padding: 0 !important;
}

.padding-right-fix {
    padding-right: 0 !important;
}
.padding-vertical-s {
    padding: 10px 0;
}

.padding-vertical-m {
    padding: 20px 0;
}

.padding-vertical-l {
    padding: 30px 0;
}

.padding-vertical-xl {
    padding: 40px 0;
}

.padding-horizontal-xs {
    padding: 0 5px;
}

.padding-horizontal-s {
    padding: 0 10px;
}

.padding-horizontal-m {
    padding: 0 20px;
}

.padding-horizontal-l {
    padding: 0 30px;
}

.padding-horizontal-xl {
    padding: 0 40px;
}

.padding-top-s {
    padding-top: 10px;
}

.padding-top-m {
    padding-top: 20px;
}

.padding-top-l {
    padding-top: 30px;
}

.padding-top-xl {
    padding-top: 40px;
}

.padding-right-s {
    padding-right: 10px;
}

.padding-right-m {
    padding-right: 20px;
}

.padding-right-l {
    padding-right: 30px;
}

.padding-right-xl {
    padding-right: 40px;
}

.padding-left-s {
    padding-left: 10px;
}

.padding-left-m {
    padding-left: 20px;
}

.padding-left-l {
    padding-left: 30px;
}

.padding-left-xl {
    padding-left: 40px;
}

/* Margin helpers */
.ho-margin {
    margin: 0.8rem;
}

.ho-margin-0 {
    margin: 0 !important;
}

.ho-margin-xs {
    margin: 0.125rem;
}

.ho-margin-sm {
    margin: 0.25rem;
}

.ho-margin-lg {
    margin: 0.6rem;
}

.ho-margin-xl {
    margin: 0.8rem;
}

.ho-margin-horizontal {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.ho-margin-horizontal-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.ho-margin-horizontal-xs {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
}

.ho-margin-horizontal-sm {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.ho-margin-horizontal-lg {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.ho-margin-horizontal-xl {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.ho-margin-vertical {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.ho-margin-vertical-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.ho-margin-vertical-xs {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

.ho-margin-vertical-sm {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.ho-margin-vertical-lg {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.ho-margin-vertical-xl {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.ho-margin-top {
    margin-top: 0.8rem;
}

.ho-margin-top-0 {
    margin-top: 0 !important;
}

.ho-margin-top-xs {
    margin-top: 0.125rem;
}

.ho-margin-top-sm {
    margin-top: 0.25rem;
}

.ho-margin-top-mm {
    margin-top: 0.5rem;
}
.ho-margin-top-lg {
    margin-top: 0.6rem;
}

.ho-margin-top-xl {
    margin-top: 0.8rem;
}

.ho-margin-bottom {
    margin-bottom: 0.8rem;
}

.ho-margin-bottom-0 {
    margin-bottom: 0 !important;
}

.ho-margin-bottom-xs {
    margin-bottom: 0.125rem;
}

.ho-margin-bottom-sm {
    margin-bottom: 0.25rem;
}

.ho-margin-bottom-lg {
    margin-bottom: 0.6rem;
}

.ho-margin-bottom-xl {
    margin-bottom: 0.8rem;
}

.ho-margin-left {
    margin-left: 0.8rem;
}

.ho-margin-left-0 {
    margin-left: 0 !important;
}

.ho-margin-left-xs {
    margin-left: 0.125rem;
}

.ho-margin-left-sm {
    margin-left: 0.25rem;
}

.ho-margin-left-lg {
    margin-left: 0.6rem;
}

.ho-margin-left-xl {
    margin-left: 0.8rem;
}

.ho-margin-right {
    margin-right: 0.8rem;
}

.ho-margin-right-0 {
    margin-right: 0 !important;
}

.ho-margin-right-xs {
    margin-right: 0.125rem;
}

.ho-margin-right-sm {
    margin-right: 0.25rem;
}

.ho-margin-right-lg {
    margin-right: 0.6rem;
}

.ho-margin-right-xl {
    margin-right: 0.8rem;
}

/* Padding helpers */
.ho-padding {
    padding: 0.8rem;
}

.ho-padding-0 {
    padding: 0 !important;
}

.ho-padding-xxs {
    padding: 0.08rem;
}

.ho-padding-xs {
    padding: 0.125rem;
}

.ho-padding-sm {
    padding: 0.25rem;
}

.ho-padding-lg {
    padding: 0.6rem;
}

.ho-padding-xl {
    padding: 0.8rem;
}

.ho-padding-horizontal {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.ho-padding-horizontal-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ho-padding-horizontal-xs {
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}

.ho-padding-horizontal-sm {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.ho-padding-horizontal-lg {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.ho-padding-horizontal-xl {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.ho-padding-vertical {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.ho-padding-vertical-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.ho-padding-vertical-xs {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.ho-padding-vertical-sm {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.ho-padding-vertical-lg {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.ho-padding-vertical-xl {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.ho-padding-top {
    padding-top: 0.8rem;
}

.ho-padding-top-0 {
    padding-top: 0 !important;
}

.ho-padding-top-xs {
    padding-top: 0.125rem;
}

.ho-padding-top-sm {
    padding-top: 0.25rem;
}

.ho-padding-top-lg {
    padding-top: 0.6rem;
}

.ho-padding-top-xl {
    padding-top: 0.8rem;
}

.ho-padding-bottom {
    padding-bottom: 0.8rem;
}

.ho-padding-bottom-0 {
    padding-bottom: 0 !important;
}

.ho-padding-bottom-xs {
    padding-bottom: 0.125rem;
}

.ho-padding-bottom-sm {
    padding-bottom: 0.25rem;
}

.ho-padding-bottom-lg {
    padding-bottom: 0.6rem;
}

.ho-padding-bottom-xl {
    padding-bottom: 0.8rem;
}

.ho-padding-left {
    padding-left: 0.8rem;
}

.ho-padding-left-0 {
    padding-left: 0 !important;
}

.ho-padding-left-xs {
    padding-left: 0.125rem;
}

.ho-padding-left-sm {
    padding-left: 0.25rem;
}

.ho-padding-left-lg {
    padding-left: 0.6rem;
}

.ho-padding-left-xl {
    padding-left: 0.8rem;
}

.ho-padding-right {
    padding-right: 0.8rem;
}

.ho-padding-right-0 {
    padding-right: 0 !important;
}

.ho-padding-right-xs {
    padding-right: 0.125rem;
}

.ho-padding-right-sm {
    padding-right: 0.25rem;
}

.ho-padding-right-lg {
    padding-right: 0.6rem;
}

.ho-padding-right-xl {
    padding-right: 0.8rem;
}

/* ==========================================================================
   Component: Panel
 ============================================================================ */
.ho-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* Panel header */
.ho-panel-hd {
    padding: 0.06rem 0.20rem;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

/* Panel content */
.ho-panel-bd {
    padding: 0.3rem 0.20rem;
}

.ho-panel-title {
    margin: 0;
    font-size: 100%;
    color: inherit;
}

.ho-panel-title > a {
    color: inherit;
}

/* Panel footer */
.ho-panel-footer {
    padding: 0.03rem 0.20rem;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.ho-panel-default {
    border-color: #ddd;
}

.ho-panel-default > .ho-panel-hd {
    color: #444;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.ho-panel-default > .ho-panel-hd + .ho-panel-collapse > .ho-panel-bd {
    border-top-color: #ddd;
}

.ho-panel-default > .ho-panel-footer + .ho-panel-collapse > .ho-panel-bd {
    border-bottom-color: #ddd;
}

.ho-panel-primary {
    border-color: #10a0ea;
}

.ho-panel-primary > .ho-panel-hd {
    color: #fff;
    background-color: #0e90d2;
    border-color: #10a0ea;
}

.ho-panel-primary > .ho-panel-hd + .ho-panel-collapse > .ho-panel-bd {
    border-top-color: #10a0ea;
}

.ho-panel-primary > .ho-panel-footer + .ho-panel-collapse > .ho-panel-bd {
    border-bottom-color: #10a0ea;
}

.ho-panel-secondary {
    border-color: #caebfb;
}

.ho-panel-secondary > .ho-panel-hd {
    color: #14a6ef;
    background-color: rgba(59, 180, 242, 0.15);
    border-color: #caebfb;
}

.ho-panel-secondary > .ho-panel-hd + .ho-panel-collapse > .ho-panel-bd {
    border-top-color: #caebfb;
}

.ho-panel-secondary > .ho-panel-footer + .ho-panel-collapse > .ho-panel-bd {
    border-bottom-color: #caebfb;
}

.ho-panel-success {
    border-color: #c9e7c9;
}

.ho-panel-success > .ho-panel-hd {
    color: #5eb95e;
    background-color: rgba(94, 185, 94, 0.15);
    border-color: #c9e7c9;
}

.ho-panel-success > .ho-panel-hd + .ho-panel-collapse > .ho-panel-bd {
    border-top-color: #c9e7c9;
}

.ho-panel-success > .ho-panel-footer + .ho-panel-collapse > .ho-panel-bd {
    border-bottom-color: #c9e7c9;
}

.ho-panel-warning {
    border-color: #fbd0ae;
}

.ho-panel-warning > .ho-panel-hd {
    color: #F37B1D;
    background-color: rgba(243, 123, 29, 0.15);
    border-color: #fbd0ae;
}

.ho-panel-warning > .ho-panel-hd + .ho-panel-collapse > .ho-panel-bd {
    border-top-color: #fbd0ae;
}

.ho-panel-warning > .ho-panel-footer + .ho-panel-collapse > .ho-panel-bd {
    border-bottom-color: #fbd0ae;
}

.ho-panel-danger {
    border-color: #f5cecd;
}

.ho-panel-danger > .ho-panel-hd {
    color: #dd514c;
    background-color: rgba(221, 81, 76, 0.15);
    border-color: #f5cecd;
}

.ho-panel-danger > .ho-panel-hd + .ho-panel-collapse > .ho-panel-bd {
    border-top-color: #f5cecd;
}

.ho-panel-danger > .ho-panel-footer + .ho-panel-collapse > .ho-panel-bd {
    border-bottom-color: #f5cecd;
}

.ho-panel > .ho-table {
    margin-bottom: 0;
}

.ho-panel > .ho-table:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.ho-panel > .ho-table:first-child > thead:first-child > tr:first-child td:first-child,
.ho-panel > .ho-table:first-child > tbody:first-child > tr:first-child td:first-child,
.ho-panel > .ho-table:first-child > thead:first-child > tr:first-child th:first-child,
.ho-panel > .ho-table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: 2px;
}

.ho-panel > .ho-table:first-child > thead:first-child > tr:first-child td:last-child,
.ho-panel > .ho-table:first-child > tbody:first-child > tr:first-child td:last-child,
.ho-panel > .ho-table:first-child > thead:first-child > tr:first-child th:last-child,
.ho-panel > .ho-table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: 2px;
}

.ho-panel > .ho-table:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.ho-panel > .ho-table:last-child > tbody:last-child > tr:last-child td:first-child,
.ho-panel > .ho-table:last-child > tfoot:last-child > tr:last-child td:first-child,
.ho-panel > .ho-table:last-child > tbody:last-child > tr:last-child th:first-child,
.ho-panel > .ho-table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 2px;
}

.ho-panel > .ho-table:last-child > tbody:last-child > tr:last-child td:last-child,
.ho-panel > .ho-table:last-child > tfoot:last-child > tr:last-child td:last-child,
.ho-panel > .ho-table:last-child > tbody:last-child > tr:last-child th:last-child,
.ho-panel > .ho-table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 2px;
}

.ho-panel > .ho-panel-bd + .ho-table {
    border-top: 1px solid #ddd;
}

.ho-panel > .ho-table > tbody:first-child > tr:first-child th,
.ho-panel > .ho-table > tbody:first-child > tr:first-child td {
    border-top: 0;
}

.ho-panel > .ho-table-bd {
    border: 0;
}

.ho-panel > .ho-table-bd > thead > tr > th:first-child,
.ho-panel > .ho-table-bd > tbody > tr > th:first-child,
.ho-panel > .ho-table-bd > tfoot > tr > th:first-child,
.ho-panel > .ho-table-bd > thead > tr > td:first-child,
.ho-panel > .ho-table-bd > tbody > tr > td:first-child,
.ho-panel > .ho-table-bd > tfoot > tr > td:first-child {
    border-left: 0;
}

.ho-panel > .ho-table-bd > thead > tr > th:last-child,
.ho-panel > .ho-table-bd > tbody > tr > th:last-child,
.ho-panel > .ho-table-bd > tfoot > tr > th:last-child,
.ho-panel > .ho-table-bd > thead > tr > td:last-child,
.ho-panel > .ho-table-bd > tbody > tr > td:last-child,
.ho-panel > .ho-table-bd > tfoot > tr > td:last-child {
    border-right: 0;
}

.ho-panel > .ho-table-bd > thead > tr:first-child > td,
.ho-panel > .ho-table-bd > tbody > tr:first-child > td,
.ho-panel > .ho-table-bd > thead > tr:first-child > th,
.ho-panel > .ho-table-bd > tbody > tr:first-child > th {
    border-bottom: 0;
}

.ho-panel > .ho-table-bd > tbody > tr:last-child > td,
.ho-panel > .ho-table-bd > tfoot > tr:last-child > td,
.ho-panel > .ho-table-bd > tbody > tr:last-child > th,
.ho-panel > .ho-table-bd > tfoot > tr:last-child > th {
    border-bottom: 0;
}

/* Wrap list */
.ho-panel > .ho-list {
    margin: 0;
}

.ho-panel > .ho-list > li > a {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ho-panel > .ho-list-static li {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Panel group */
.ho-panel-group {
    margin-bottom: 2rem;
}

.ho-panel-group .ho-panel {
    margin-bottom: 0;
    border-radius: 2px;
}

.ho-panel-group .ho-panel + .ho-panel {
    margin-top: 6px;
}

.ho-panel-group .ho-panel-hd {
    border-bottom: 0;
}

.ho-panel-group .ho-panel-hd + .ho-panel-collapse .ho-panel-bd {
    border-top: 1px solid #ddd;
}

.ho-panel-group .ho-panel-footer {
    border-top: 0;
}

.ho-panel-group .ho-panel-footer + .ho-panel-collapse .ho-panel-bd {
    border-bottom: 1px solid #ddd;
}
