/**
   object
   ==========================
**/
.header-fixed {
    position: fixed;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #252525;
    font-size: 16px;
}
.header {
    text-align: center;
    position: relative;
    z-index: 1;
    height: 44px;
    line-height: 44px;
    background: url(../img/header-bg.png) repeat-x #efefef;
    background-size: 100% 44px;
    border-bottom: 1px solid #bfbfbf;
    border-width: 0 0 1px;
    /* -webkit-border-image: url(data:image/gif;base64,R0lGODlhBAAEAIABAL+/v////yH/C1hNUCBEYXRhWE1QPD94cGFja…kYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAEALAAAAAAEAAQAAAIFhBGpeVAAOw==) 2 0 stretch; */
    -o-border-image: url(data:image/gif;base64,R0lGODlhBAAEAIABAL+/v////yH/C1hNUCBEYXRhWE1QPD94cGFja…kYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAEALAAAAAAEAAQAAAIFhBGpeVAAOw==) 2 0 round;
    /* border-image: url(data:image/gif;base64,R0lGODlhBAAEAIABAL+/v////yH/C1hNUCBEYXRhWE1QPD94cGFja…kYFxYVFBMSERAPDg0MCwoJCAcGBQQDAgEAACH5BAEAAAEALAAAAAAEAAQAAAIFhBGpeVAAOw==) 2 0 round; */
    font-family: PingHei, "Lucida Grande", "Lucida Sans Unicode", STHeiti, Helvetica, Arial, Verdana, sans-serif;
    color: #252525;
    font-size: 16px;
    min-width: 320px;
}

.header-arrow-l {
    position: absolute;
    left: 3px;
    top: -2px;
}
.hoTopic-head {
    position: relative;
    padding-top: 62.5%;
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.hoTopic-head-arrow {
    position: absolute;
    bottom: 0;
    left: 1.5em;
}

.hoTopic-footer {
    color: #e6e6e6 !important;
    background-color: rgba(0, 0, 0, 0.4);
}
.hoTopic-body {

}
.hoTopic-wapper {
    width: 100%;
    margin: 0 0;
    padding-top: 5px;
    overflow: hidden;
    background-color: #ffffff;
}

.hoTopic-scroller {
    display: block;
    white-space: nowrap;
    width: 9999px;
    overflow: auto;
}

.hoTopic-scroller li {
    width: 80px;
    height: 80px;
    line-height: inherit;
    margin: 3px;
    background: #50eeff;
    border: 1px solid #e0e0e0;
    display: inline-block;
}

.list-title {
    font-weight: 700;
    color: #a5a7a9;
    padding-right: 10px;
}

.comment-item-star {
    display: inline-block;
    overflow: hidden;
    width: 75px;
    height: 11px;
    margin-top: 10px;
    background: url('../img/rate/comment-star.png') repeat-x 0 -11px;
    background-size: 15px 22px;
}

.real-star {
    display: inline-block;
    height: 26px;
    background: url('../img/rate/comment-star.png') repeat-x 0 0;
    background-size: 15px 22px;
}

.comment-stars-width1 {
    width: 20%;
}

.comment-stars-width2 {
    width: 40%;
}

.comment-stars-width3 {
    width: 60%;
}

.comment-stars-width4 {
    width: 80%;
}

.comment-stars-width5 {
    width: 100%;
}

.comment-item-img {
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 4px;
}

.num {
    border: 1px solid #cacccd;
    border-radius: 3px;
    width: 30px;
    height: 25px;
    text-align: center;
    color: #18b4ed;
}

input.num-btn {
    width: 30px;
    height: 25px;
    border: 1px solid #cacccd;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #fff), to(#fff));
}
/**
   util
   ==========================
**/
.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
}

.attr-span {
    height: 30px;
    line-height: 30px;
    padding: 4px;
    text-align: center;
    font-size: 10px;
    color: #a4a6a8;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.attr-span.active {
    color: #18b4ed;
    border: 1px solid #18b4ed;
}

.ui-right-icon {
    position: relative;
}

.ui-right-icon:before {
    font-family: "iconfont" !important;
    font-size: 32px;
    line-height: 44px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    display: block;
    color: rgba(0, 0, 0, 0.5);
    color: #c7c7c7;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -22px;
    margin-right: -10px;
}

@media (max-width: 320px) {
    .ui-right-icon:before {
        right: 10px;
    }
}

.ui-right-icon.active {
    background: #e5e6e7;
}
/**
   color & font
   ===========================
**/

.price {
    font-size: 14px;
    color: #ff525e;
}

.price-fade {
    margin-left: 5px;
    font-size: 14px;
    color: #7d7e7e;
}

.txt-m {
    font-size: 14px;
}

.txt-lg {
    font-size: 20px;
}

.txt-xl {
    font-size: 25px;
}

.txt-xxl {
    font-size: 30px;
}
.back-white {
    background-color: white;
}

.back-blue {
    background-color: #18b4ed;
}

.back-grey-soft {
    background-color: #fdfdfe;
}
.back-grey {
    background-color: #f2f3f5;
}

/**
   layout
   ============================
**/
.text-center {
    text-align: center;
}

.margin-fix {
    margin: 0 !important;
}
.margin-vertical-s {
    margin: 10px 0;
}

.margin-vertical-m {
    margin: 20px 0;
}

.margin-vertical-l {
    margin: 30px 0;
}

.margin-vertical-xl {
    margin: 40px 0;
}

.margin-top-xs {
    margin-top: 5px;
}

.margin-top-s {
    margin-top: 10px;
}

.margin-top-m {
    margin-top: 20px;
}

.margin-top-l {
    margin-top: 30px;
}

.margin-top-xl {
    margin-top: 40px;
}

.margin-right-xs {
    margin-right: 5px;
}

.margin-right-s {
    margin-right: 10px;
}

.margin-right-m {
    margin-right: 20px;
}

.margin-right-l {
    margin-right: 30px;
}

.margin-right-xl {
    margin-right: 40px;
}

.padding-fix {
    padding: 0 !important;
}
.padding-vertical-s {
    padding: 10px 0;
}

.padding-vertical-m {
    padding: 20px 0;
}

.padding-vertical-l {
    padding: 30px 0;
}

.padding-vertical-xl {
    padding: 40px 0;
}

.padding-horizontal-xs {
    padding: 0 5px;
}

.padding-horizontal-s {
    padding: 0 10px;
}

.padding-horizontal-m {
    padding: 0 20px;
}

.padding-horizontal-l {
    padding: 0 30px;
}

.padding-horizontal-xl {
    padding: 0 40px;
}

.padding-top-s {
    padding-top: 10px;
}

.padding-top-m {
    padding-top: 20px;
}

.padding-top-l {
    padding-top: 30px;
}

.padding-top-xl {
    padding-top: 40px;
}

.padding-right-s {
    padding-right: 10px;
}

.padding-right-m {
    padding-right: 20px;
}

.padding-right-l {
    padding-right: 30px;
}

.padding-right-xl {
    padding-right: 40px;
}

.padding-left-s {
    padding-left: 10px;
}

.padding-left-m {
    padding-left: 20px;
}

.padding-left-l {
    padding-left: 30px;
}

.padding-left-xl {
    padding-left: 40px;
}