<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hooper.hoshop.dao.AttributeMapper">
    <resultMap id="BaseResultMap" type="com.hooper.hoshop.entity.Attribute">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="attribute_name" property="attributeName" jdbcType="VARCHAR"/>
        <result column="c_time" property="cTime" jdbcType="BIGINT"/>
        <result column="u_time" property="uTime" jdbcType="BIGINT"/>
        <result column="is_del" property="isDel" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, parent_id, attribute_name, c_time, u_time, is_del
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from h_attribute
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectParents" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from h_attribute
        where parent_id = 0 and is_del = 0
    </select>
    <select id="selectChildren" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from h_attribute
        where parent_id = #{parentId} and is_del = 0
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from h_attribute
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.hooper.hoshop.entity.Attribute">
        insert into h_attribute (parent_id, attribute_name,
        c_time, u_time, is_del)
        values (#{parentId,jdbcType=INTEGER}, #{attributeName,jdbcType=VARCHAR},
        #{cTime,jdbcType=BIGINT}, #{uTime,jdbcType=BIGINT}, #{isDel,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.hooper.hoshop.entity.Attribute">
        insert into h_attribute
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="attributeName != null">
                attribute_name,
            </if>
            <if test="cTime != null">
                c_time,
            </if>
            <if test="uTime != null">
                u_time,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="attributeName != null">
                #{attributeName,jdbcType=VARCHAR},
            </if>
            <if test="cTime != null">
                #{cTime,jdbcType=BIGINT},
            </if>
            <if test="uTime != null">
                #{uTime,jdbcType=BIGINT},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hooper.hoshop.entity.Attribute">
        update h_attribute
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="attributeName != null">
                attribute_name = #{attributeName,jdbcType=VARCHAR},
            </if>
            <if test="cTime != null">
                c_time = #{cTime,jdbcType=BIGINT},
            </if>
            <if test="uTime != null">
                u_time = #{uTime,jdbcType=BIGINT},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hooper.hoshop.entity.Attribute">
        update h_attribute
        set parent_id = #{parentId,jdbcType=INTEGER},
        attribute_name = #{attributeName,jdbcType=VARCHAR},
        c_time = #{cTime,jdbcType=BIGINT},
        u_time = #{uTime,jdbcType=BIGINT},
        is_del = #{isDel,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>