<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hooper.hoshop.dao.CouponMapper">
    <resultMap id="BaseResultMap" type="com.hooper.hoshop.entity.Coupon">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="legal_goods_cat" property="legalGoodsCat" jdbcType="VARCHAR"/>
        <result column="limit_days" property="limitDays" jdbcType="INTEGER"/>
        <result column="threshold" property="threshold" jdbcType="DECIMAL"/>
        <result column="is_del" property="isDel" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, price, num, legal_goods_cat, limit_days, threshold, is_del
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from h_coupons
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectListPaged" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from h_coupons
        where is_del = 0
        <if test="title != null">
            AND title like concat(concat('%',#{title}),'%')
        </if>
        ORDER BY id
        <if test="orderType == 0">
            ASC
        </if>
        <if test="orderType == 1 or orderType == null">
            DESC
        </if>
        limit #{offset},#{limit}
    </select>
    <select id="countListPaged" resultType="int" parameterType="java.lang.Integer">
        select
        count(*)
        from h_coupons
        where is_del = 0
        <if test="title != null">
            AND title like concat(concat('%',#{title}),'%')
        </if>
        ORDER BY id
        <if test="orderType == 0">
            ASC
        </if>
        <if test="orderType == 1 or orderType == null">
            DESC
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from h_coupons
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.hooper.hoshop.entity.Coupon">
        insert into h_coupons (title, price,
        num, legal_goods_cat, limit_days,
        threshold, is_del)
        values (#{title,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL},
        #{num,jdbcType=INTEGER}, #{legalGoodsCat,jdbcType=VARCHAR}, #{limitDays,jdbcType=INTEGER},
        #{threshold,jdbcType=DECIMAL}, #{isDel,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.hooper.hoshop.entity.Coupon">
        insert into h_coupons
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="legalGoodsCat != null">
                legal_goods_cat,
            </if>
            <if test="limitDays != null">
                limit_days,
            </if>
            <if test="threshold != null">
                threshold,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="legalGoodsCat != null">
                #{legalGoodsCat,jdbcType=VARCHAR},
            </if>
            <if test="limitDays != null">
                #{limitDays,jdbcType=INTEGER},
            </if>
            <if test="threshold != null">
                #{threshold,jdbcType=DECIMAL},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hooper.hoshop.entity.Coupon">
        update h_coupons
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
            <if test="legalGoodsCat != null">
                legal_goods_cat = #{legalGoodsCat,jdbcType=VARCHAR},
            </if>
            <if test="limitDays != null">
                limit_days = #{limitDays,jdbcType=INTEGER},
            </if>
            <if test="threshold != null">
                threshold = #{threshold,jdbcType=DECIMAL},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hooper.hoshop.entity.Coupon">
        update h_coupons
        set title = #{title,jdbcType=VARCHAR},
        price = #{price,jdbcType=DECIMAL},
        num = #{num,jdbcType=INTEGER},
        legal_goods_cat = #{legalGoodsCat,jdbcType=VARCHAR},
        limit_days = #{limitDays,jdbcType=INTEGER},
        threshold = #{threshold,jdbcType=DECIMAL},
        is_del = #{isDel,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>