<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hooper.hoshop.dao.CouponCatsMapper">
    <resultMap id="BaseResultMap" type="com.hooper.hoshop.entity.CouponCats">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="coupons_id" property="couponsId" jdbcType="INTEGER"/>
        <result column="cats_id" property="catsId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, coupons_id, cats_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from h_coupons_cats
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from h_coupons_cats
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.hooper.hoshop.entity.CouponCats">
        insert into h_coupons_cats (coupons_id, cats_id
        )
        values (#{couponsId,jdbcType=INTEGER}, #{catsId,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.hooper.hoshop.entity.CouponCats">
        insert into h_coupons_cats
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="couponsId != null">
                coupons_id,
            </if>
            <if test="catsId != null">
                cats_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="couponsId != null">
                #{couponsId,jdbcType=INTEGER},
            </if>
            <if test="catsId != null">
                #{catsId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hooper.hoshop.entity.CouponCats">
        update h_coupons_cats
        <set>
            <if test="couponsId != null">
                coupons_id = #{couponsId,jdbcType=INTEGER},
            </if>
            <if test="catsId != null">
                cats_id = #{catsId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hooper.hoshop.entity.CouponCats">
        update h_coupons_cats
        set coupons_id = #{couponsId,jdbcType=INTEGER},
        cats_id = #{catsId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>