<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hooper.hoshop.dao.GoodsDetailMapper">
    <resultMap id="BaseResultMap" type="com.hooper.hoshop.entity.GoodsDetail">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="context" property="context" jdbcType="VARCHAR"/>
        <result column="c_time" property="cTime" jdbcType="BIGINT"/>
        <result column="u_time" property="uTime" jdbcType="BIGINT"/>
        <result column="is_del" property="isDel" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, goods_id, context, c_time, u_time, is_del
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from h_goods_detail
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from h_goods_detail
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from h_goods_detail
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.hooper.hoshop.entity.GoodsDetail">
        insert into h_goods_detail (goods_id, context,
        c_time, u_time, is_del)
        values (#{goodsId,jdbcType=INTEGER}, #{context,jdbcType=VARCHAR},
        #{cTime,jdbcType=BIGINT}, #{uTime,jdbcType=BIGINT}, #{isDel,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.hooper.hoshop.entity.GoodsDetail">
        insert into h_goods_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="context != null">
                context,
            </if>
            <if test="cTime != null">
                c_time,
            </if>
            <if test="uTime != null">
                u_time,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="context != null">
                #{context,jdbcType=VARCHAR},
            </if>
            <if test="cTime != null">
                #{cTime,jdbcType=BIGINT},
            </if>
            <if test="uTime != null">
                #{uTime,jdbcType=BIGINT},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hooper.hoshop.entity.GoodsDetail">
        update h_goods_detail
        <set>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="context != null">
                context = #{context,jdbcType=VARCHAR},
            </if>
            <if test="cTime != null">
                c_time = #{cTime,jdbcType=BIGINT},
            </if>
            <if test="uTime != null">
                u_time = #{uTime,jdbcType=BIGINT},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hooper.hoshop.entity.GoodsDetail">
        update h_goods_detail
        set goods_id = #{goodsId,jdbcType=INTEGER},
        context = #{context,jdbcType=VARCHAR},
        c_time = #{cTime,jdbcType=BIGINT},
        u_time = #{uTime,jdbcType=BIGINT},
        is_del = #{isDel,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>