<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hooper.hoshop.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.hooper.hoshop.entity.Order">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="sn" property="sn" jdbcType="VARCHAR"/>
    <result column="user_id" property="userId" jdbcType="INTEGER"/>
    <result column="address_id" property="addressId" jdbcType="INTEGER"/>
    <result column="coupons_id" property="couponsId" jdbcType="INTEGER"/>
    <result column="order_pic" property="orderPic" jdbcType="VARCHAR"/>
    <result column="goods_num" property="goodsNum" jdbcType="INTEGER"/>
    <result column="total" property="total" jdbcType="DECIMAL"/>
    <result column="total_and_delivery" property="totalAndDelivery" jdbcType="DECIMAL"/>
    <result column="r_total" property="rTotal" jdbcType="DECIMAL"/>
    <result column="c_time" property="cTime" jdbcType="BIGINT"/>
    <result column="p_time" property="pTime" jdbcType="BIGINT"/>
    <result column="delivery_com" property="deliveryCom" jdbcType="VARCHAR"/>
    <result column="delivery_no" property="deliveryNo" jdbcType="VARCHAR"/>
    <result column="delivery_time" property="deliveryTime" jdbcType="BIGINT"/>
    <result column="status" property="status" jdbcType="BIT"/>
    <result column="is_del" property="isDel" jdbcType="BIT"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, sn, user_id, address_id, coupons_id, order_pic, goods_num, total, total_and_delivery, 
    r_total, c_time, p_time, delivery_com, delivery_no, delivery_time, status, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from h_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOrderByFilter" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from h_order
    where is_del = 0
    <if test="sn != null">
      AND sn = #{sn}
    </if>
    <if test=" userId != null">
      AND user_id = #{userId}
    </if>
    <if test="state != null">
      AND status = #{state}
    </if>
    <if test="startTime != null">
      AND c_time &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      AND c_time &lt;= #{endTime}
    </if>
    Order by c_time desc
    Limit #{offset},#{limit}
  </select>
  <select id="countOrderByFilter" resultType="java.lang.Integer">
    select
    COUNT(*)
    from h_order
    where is_del = 0
    <if test="sn != null">
      AND sn = #{sn}
    </if>
    <if test=" userId != null">
      AND user_id = #{userId}
    </if>
    <if test="state != null">
      AND status = #{state}
    </if>
    <if test="startTime != null">
      AND c_time &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      AND c_time &lt;= #{endTime}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from h_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.hooper.hoshop.entity.Order">
    insert into h_order (sn, user_id,
    address_id, coupons_id, order_pic,
    goods_num, total, total_and_delivery,
    r_total, c_time, p_time,
    delivery_com, delivery_no, delivery_time,
      status, is_del)
    values (#{sn,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
    #{addressId,jdbcType=INTEGER}, #{couponsId,jdbcType=INTEGER}, #{orderPic,jdbcType=VARCHAR},
    #{goodsNum,jdbcType=INTEGER}, #{total,jdbcType=DECIMAL}, #{totalAndDelivery,jdbcType=DECIMAL},
    #{rTotal,jdbcType=DECIMAL}, #{cTime,jdbcType=BIGINT}, #{pTime,jdbcType=BIGINT},
    #{deliveryCom,jdbcType=VARCHAR}, #{deliveryNo,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=BIGINT},
      #{status,jdbcType=BIT}, #{isDel,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.hooper.hoshop.entity.Order">
    insert into h_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sn != null">
        sn,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="couponsId != null">
        coupons_id,
      </if>
      <if test="orderPic != null">
        order_pic,
      </if>
      <if test="goodsNum != null">
        goods_num,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="totalAndDelivery != null">
        total_and_delivery,
      </if>
      <if test="rTotal != null">
        r_total,
      </if>
      <if test="cTime != null">
        c_time,
      </if>
      <if test="pTime != null">
        p_time,
      </if>
      <if test="deliveryCom != null">
        delivery_com,
      </if>
      <if test="deliveryNo != null">
        delivery_no,
      </if>
      <if test="deliveryTime != null">
        delivery_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="couponsId != null">
        #{couponsId,jdbcType=INTEGER},
      </if>
      <if test="orderPic != null">
        #{orderPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null">
        #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="totalAndDelivery != null">
        #{totalAndDelivery,jdbcType=DECIMAL},
      </if>
      <if test="rTotal != null">
        #{rTotal,jdbcType=DECIMAL},
      </if>
      <if test="cTime != null">
        #{cTime,jdbcType=BIGINT},
      </if>
      <if test="pTime != null">
        #{pTime,jdbcType=BIGINT},
      </if>
      <if test="deliveryCom != null">
        #{deliveryCom,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNo != null">
        #{deliveryNo,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hooper.hoshop.entity.Order">
    update h_order
    <set>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="couponsId != null">
        coupons_id = #{couponsId,jdbcType=INTEGER},
      </if>
      <if test="orderPic != null">
        order_pic = #{orderPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null">
        goods_num = #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="totalAndDelivery != null">
        total_and_delivery = #{totalAndDelivery,jdbcType=DECIMAL},
      </if>
      <if test="rTotal != null">
        r_total = #{rTotal,jdbcType=DECIMAL},
      </if>
      <if test="cTime != null">
        c_time = #{cTime,jdbcType=BIGINT},
      </if>
      <if test="pTime != null">
        p_time = #{pTime,jdbcType=BIGINT},
      </if>
      <if test="deliveryCom != null">
        delivery_com = #{deliveryCom,jdbcType=VARCHAR},
      </if>
      <if test="deliveryNo != null">
        delivery_no = #{deliveryNo,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        delivery_time = #{deliveryTime,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hooper.hoshop.entity.Order">
    update h_order
    set sn = #{sn,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
    address_id = #{addressId,jdbcType=INTEGER},
      coupons_id = #{couponsId,jdbcType=INTEGER},
    order_pic = #{orderPic,jdbcType=VARCHAR},
    goods_num = #{goodsNum,jdbcType=INTEGER},
      total = #{total,jdbcType=DECIMAL},
    total_and_delivery = #{totalAndDelivery,jdbcType=DECIMAL},
      r_total = #{rTotal,jdbcType=DECIMAL},
      c_time = #{cTime,jdbcType=BIGINT},
      p_time = #{pTime,jdbcType=BIGINT},
    delivery_com = #{deliveryCom,jdbcType=VARCHAR},
    delivery_no = #{deliveryNo,jdbcType=VARCHAR},
      delivery_time = #{deliveryTime,jdbcType=BIGINT},
      status = #{status,jdbcType=BIT},
      is_del = #{isDel,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="countCostByTime" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    SELECT
    SUM(`h_order`.`total_and_delivery`) AS `cost_sum`
    FROM h_order
    WHERE is_del = 0 AND STATUS &gt; 0
    <if test="startTime != null">
      AND c_time &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      AND c_time &lt;= #{endTime}
    </if>
  </select>

  <select id="countNumByTime" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    SELECT
    COUNT(*) AS `order_count`
    FROM h_order
    WHERE is_del = 0 AND STATUS &gt; 0
    <if test="startTime != null">
      AND c_time &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      AND c_time &lt;= #{endTime}
    </if>
  </select>


</mapper>