<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>ho商城</title>
    <link href="../../css/frozen.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/homall.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/lib/zeptojs/zepto.min.js"></script>
</head>
<body>
<!-- header part -->
<header id="header" class="ui-header">
    <div class="ui-tab" id="tab1">
        <ul class="ui-tab-nav ui-border-b">
            <li class="current">商品</li>
            <li>详情</li>
            <li>评价</li>
        </ul>
    </div>
</header>
<!-- header part end -->
<!-- footer part -->
<footer class="ui-footer" style="height: 48px">
    <div class="ui-row-flex ui-flex-align-center text-center hoTopic-footer" style="height: 100%">
        <div class="ui-col ui-col-1" style="height: 100%">
            <span class="ui-icon-star" style="line-height: 25px;color: #e6e6e6"></span>
            <h6>关注</h6>
        </div>
        <div class="ui-col ui-col-1" style="height: 100%">
            <span class="ui-icon-cart" style="line-height: 25px;color: #e6e6e6"></span>
            <h6>购物车</h6>
        </div>
        <div class="ui-col ui-col-2" style="height: 100%;line-height: 48px;">
            <h4>加入购物车</h4>
        </div>
        <div class="ui-col ui-col-2 back-blue" style="height: 100%;line-height: 48px">
            <h4>立即购买</h4>
        </div>
    </div>
</footer>
<!-- footer part end-->

<section class="ui-container">
    <!-- goods header -->
    <div class="back-white">
        <!-- slider -->
        <div class="ui-slider" id="slider" style="padding-top: 62.5%">
            <ul class="ui-slider-content" style="width: 300%">
                <li><span style="background-image:url(http://placeholder.qiniudn.com/640x400)"></span></li>
                <li><span style="background-image:url(http://placeholder.qiniudn.com/640x400)"></span></li>
                <li><span style="background-image:url(http://placeholder.qiniudn.com/640x400)"></span></li>
            </ul>
        </div>
        <!-- slider end -->
        <ul class="ui-list ui-list-pure ui-border-b margin-top-s">
            <li>
                <h3 class="ui-nowrap-multi">Danner chukka 男神必备男鞋 驼色 红色 黑色 男神必备男鞋 驼色 红色 黑色 黑色 男神必备男鞋 驼色 红色 黑色 黑色 男神必备男鞋
                    驼色 红色 黑色</h3>
            </li>
            <li>
                <h5 class="ui-nowrap-multi">Made In Usa.品质之选</h5>
            </li>
            <li>
                <span class="price txt-lg"> &yen;98 </span>
                <span class="price-fade"> 原价：<s>&yen;200</s> </span>
            </li>
        </ul>

    </div>
    <!-- goods header end-->
    <!-- buy ul -->
    <ul class="ui-list ui-list-one  ui-border-tb margin-top-s">
        <li>
            <div class="ui-row-flex">
                <div class="ui-col ui-col-1">
                    <span class="list-title">已选</span>
                </div>
                <div id="selectedTip" class="ui-col ui-col-5 ui-nowrap">
                    US 9.5 Camel
                </div>
            </div>
        </li>
        <li>
            <div class="ui-row-flex">
                <div class="ui-col ui-col-1">
                    <span class="list-title">顏色</span>
                </div>
                <div class="ui-col ui-col-5">
                    <ul class="ui-grid-trisect padding-fix attr-ul">
                        <li>
                            <div class="attr-span">
                                马克吐温的颜色
                            </div>
                        </li>
                        <li>
                            <div class="attr-span">
                                黑色
                            </div>
                        </li>
                        <li>
                            <div class="attr-span">
                                白色
                            </div>
                        </li>
                        <li>
                            <div class="attr-span active">
                                驼色
                            </div>
                        </li>
                        <li>
                            <div class="attr-span">
                                蓝眼碧绿的颜色
                            </div>
                        </li>
                        <li>
                            <div class="attr-span">
                                蓝色
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="ui-row-flex">
                <div class="ui-col ui-col-1">
                    <span class="list-title">尺碼</span>
                </div>
                <div class="ui-col ui-col-5">
                    <ul class="ui-grid-trisect padding-fix attr-ul">
                        <li>
                            <div class="attr-span">
                                XL
                            </div>
                        </li>
                        <li>
                            <div class="attr-span">
                                X
                            </div>
                        </li>
                        <li>
                            <div class="attr-span  active">
                                M
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="ui-row-flex">
                <div class="ui-col ui-col-1">
                    <span class="list-title">数量</span>
                </div>
                <div id="NUM" class="ui-col ui-col-5 ui-nowrap">
                    20
                </div>
            </div>
        </li>
        <li>
            <div class="ui-row-flex">
                <div class="ui-col ui-col-1">
                    <span class="list-title">库存</span>
                </div>
                <div id="SKU" class="ui-col ui-col-5 ui-nowrap">
                    20
                </div>
            </div>
        </li>
        <li>
            <div class="ui-row-flex">
                <div class="ui-col ui-col-1">
                    <span class="list-title">运费</span>
                </div>
                <div id="expressCharge" class="ui-col ui-col-5 ui-nowrap">
                    免运费
                </div>
            </div>
        </li>
    </ul>
    <!-- buy ul end -->
    <!-- detail -->
    <ul class="ui-list ui-list-one  ui-list-link ui-border-tb margin-top-m">
        <li>
            <span class="list-title">商品详情</span>
        </li>
    </ul>
    <!-- detail end -->
    <!-- rate -->
    <ul class="ui-list ui-list-text  ui-border-tb margin-top-m">
        <li class="ui-arrowlink">
            <h4 class="list-title">商品评价</h4>
            <div id="rateNum" class="ui-txt-info txt-m margin-right-m">5条评价</div>
        </li>
        <li class="ui-border-t">
            <div class="ui-row-flex  ui-justify-flex">
                    <span class="comment-item-star">
                        <span class="real-star comment-stars-width2"></span>
                    </span>
                <div class="price-fade">
                    <h5>mikeghgh</h5>
                </div>
            </div>
        </li>
        <li>
            <div class="ui-row-flex ui-justify-flex txt-m">
                感觉不太行，整个CCP一样
            </div>
        </li>
        <li>
            <div class="ui-row-flex ui-whitespace padding-fix">
                <img src="http://img30.360buyimg.com/shaidan/s310x310_jfs/t2743/145/737207555/3827/ea7747e/5724a059Ne169562d.jpg"
                     class="comment-item-img"/>
                <img src="http://img30.360buyimg.com/shaidan/s310x310_jfs/t2743/145/737207555/3827/ea7747e/5724a059Ne169562d.jpg"
                     class="comment-item-img"/>
                <img src="http://img30.360buyimg.com/shaidan/s310x310_jfs/t2743/145/737207555/3827/ea7747e/5724a059Ne169562d.jpg"
                     class="comment-item-img"/>
                <img src="http://img30.360buyimg.com/shaidan/s310x310_jfs/t2743/145/737207555/3827/ea7747e/5724a059Ne169562d.jpg"
                     class="comment-item-img"/>
            </div>
        </li>
        <li>
            <div class="price-fade">
                <h5>2016-05-12</h5>
            </div>
        </li>
        <li class="ui-border-t">
            <div class="ui-row-flex  ui-justify-flex">
                    <span class="comment-item-star">
                        <span class="real-star comment-stars-width5"></span>
                    </span>
                <div class="price-fade">
                    <h5>mikegfgf</h5>
                </div>
            </div>
        </li>
        <li>
            <div class="ui-row-flex ui-justify-flex txt-m">
                我是红卫兵
            </div>
        </li>
        <li>
            <div class="ui-row-flex ui-whitespace padding-fix">
                <img src="http://img30.360buyimg.com/shaidan/s310x310_jfs/t1936/178/2833003571/103010/b8c7b885/56f8a2dbNf5cc2281.jpg"
                     class="comment-item-img"/>
                <img src="http://img30.360buyimg.com/shaidan/s310x310_jfs/t1936/178/2833003571/103010/b8c7b885/56f8a2dbNf5cc2281.jpg"
                     class="comment-item-img"/>
            </div>
        </li>
        <li>
            <div class="price-fade">
                <h5>2016-06-13</h5>
            </div>
        </li>
    </ul>
    <div class="ui-row back-white text-center ui-border-b">
        <i class="ui-icon-unfold"><label class="txt-m">更多评价</label></i>
    </div>
    <!-- rate end -->
</section>

</body>
<script type="text/javascript" src="../../js/frozen.js"></script>
<script type="text/javascript">
    (function () {
        var initSliderData = function () {
//            $("#slider .ui-slider-content li").remove();
            var size = $("#slider .ui-slider-content li").length;
            var li = '<li><span style="background-image:url(http://placeholder.qiniudn.com/640x400)"></span></li>';
            var size = size + 1;
            $("#slider .ui-slider-content").css("width", size + "00%");
            $("#slider .ui-slider-content").append(li);

            var slider = new fz.Scroll('.ui-slider', {
                role: 'slider',
                indicator: true,
                autoplay: true,
                interval: 3000
            });

            slider.on('beforeScrollStart', function (fromIndex, toIndex) {
//            console.log(fromIndex, toIndex)
            });

            slider.on('scrollEnd', function (cruPage) {
//            console.log(cruPage)
            });
        }

        var attrSelectEvent = function () {
            var uls = $('.attr-ul');
            if (uls.length > 0) {
                $(uls).each(function (i, e) {
                    $(e).children("li").children("div").tap(function () {
                        $(e).children("li").children("div").removeClass("active");
                        $(this).addClass("active");
                        attrSelectTip();
                    })
                })
            }
        }

        var attrSelectTip = function () {
            var selectedItems = $(".attr-span.active");
            var tipString = "";
            $(selectedItems).each(function (i, e) {
                tipString = tipString + " " + $(e).text();
            })
            $("#selectedTip").text(tipString);
        }

        attrSelectEvent();
        initSliderData();

        $(".ui-tab-nav li").tap(function () {
            $(".ui-tab-nav li").removeClass("current");
            $(this).addClass("current");
        });
    })();
</script>
</html>