<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>ho商城商品列表</title>
    <link href="../../css/frozen.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/homall.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../js/lib/zeptojs/zepto.min.js"></script>
</head>
<style>

</style>
<body>
<!-- header -->
<div class="ui-searchbar-wrap ui-border-b">
    <a href="javascript :history.go(-1);"><i id="headerBarCat" class="ui-icon-prev"></i></a>
    <div class="ui-searchbar ui-border-radius">
        <i class="ui-icon-search"></i>
        <div class="ui-searchbar-text">搜索商品</div>
        <div class="ui-searchbar-input"><input value="" type="text" placeholder="商品名" autocapitalize="off"></div>
        <i class="ui-icon-close"></i>
    </div>
    <button class="ui-searchbar-cancel">搜索</button>
</div>
<!-- header E -->

<!-- tool -->
<div class="ui-row ui-whitespace back-white text-center">
    <div class="ui-col ui-col-33"><i class="ui-icon-unfold" style="font-size: 1.5em"><span
            style="font-size: 0.8em">综合</span></i></div>
    <div class="ui-col ui-col-33">
        <i onclick="sort(this)" class="ui-icon-sort-small sortable" value="SELL" style="font-size: 1.5em">
            <span style="font-size: 0.8em">销量</span>
        </i>
    </div>
    <div class="ui-col ui-col-33">
        <i onclick="sort(this)" class="ui-icon-sort-small sortable" value="PRICE" style="font-size: 1.5em">
            <span style="font-size: 0.8em">价格</span>
        </i>
    </div>
</div>
<!-- too E-->

<section class="ui-panel padding-top-s">
    <div>
        <ul class="ui-grid-halve">
            <li>
                <div class="ui-border">
                    <div class="ui-grid-trisect-img">
                        <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                    </div>
                    <div class="padding-horizontal-xs">
                        <h4 class="ui-nowrap-multi">长书名长书名长书名长书名长书名长书名长书名</h4>
                        <h5 class="ui-nowrap price">&yen;2100 </h5>
                    </div>
                </div>
            </li>
            <li>
                <div class="ui-border">
                    <div class="ui-grid-trisect-img">
                        <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                    </div>
                    <div class="padding-horizontal-xs">
                        <h4 class="ui-nowrap-multi">长书名长书名长书名长书名长书名长书名长书名</h4>
                        <h5 class="ui-nowrap price">&yen;2200 </h5>
                    </div>
                </div>
            </li>
            <li>
                <div class="ui-border">
                    <div class="ui-grid-trisect-img">
                        <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                    </div>
                    <div class="padding-horizontal-xs">
                        <h4 class="ui-nowrap-multi">长书名长书名长书名长书名长书名长书名长书名</h4>
                        <h5 class="ui-nowrap price">&yen;220 </h5>
                    </div>
                </div>
            </li>
            <li>
                <div class="ui-border">
                    <div class="ui-grid-trisect-img">
                        <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
                    </div>
                    <div class="padding-horizontal-xs">
                        <h4 class="ui-nowrap-multi">长书名长书名长书名长书名长书名长书名长书名</h4>
                        <h5 class="ui-nowrap price">&yen;200 </h5>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

</body>
<script type="text/javascript" src="../../js/frozen.js"></script>
<script type="text/javascript">
    function sort(target) {
        $(".sortable").each(function (i, e) {
            if (e != target) {
                $(e).removeClass("ui-icon-asc");
                $(e).removeClass("ui-icon-desc");
            }
        });
        //asc to desc: cur desc
        if ($(target).hasClass("ui-icon-asc")) {
            $(target).removeClass("ui-icon-asc");
            $(target).addClass("ui-icon-desc");
        } else {
            // to asc:cur asc
            $(target).addClass("ui-icon-asc");
        }

    }
    (function () {

//        var initHeight = function () {
//            var winHeight = $(window).height();
//            var searchHeight = $(".ui-searchbar-wrap").height();
//            var scrollerHeight = winHeight - searchHeight - 2;
//            $(".ui-scroller").height(scrollerHeight);
//            $("#sonCat").height(scrollerHeight + 2);
//        }

        var initSearchBar = function () {
            $('.ui-searchbar').tap(function () {
                $('.ui-searchbar-wrap').addClass('focus');
                $('.ui-searchbar-input input').focus();
            });
            $('.ui-searchbar-cancel').tap(function () {
                $('.ui-searchbar-wrap').removeClass('focus');
            });
        }

//        var initScroll = function () {
//            var scroll = new fz.Scroll('.ui-scroller', {
//                scrollY: true
//            });
//        }
//
//        var parentCatClickEve = function () {
//            console.log(" run ---");
//            $(".ui-scroller li").tap(function (e) {
//                $(".ul-cat-active").removeClass("ul-cat-active");
//                $(e.target).addClass("ul-cat-active");
//            })
//            //change the sonCat method
//        }

        function init() {
            initSearchBar();
        }

        init();
    })();
</script>
</html>